{% if page.toc %}
<aside class="post-toc-sidebar" aria-label="Table of contents">
  <nav class="toc-nav">
    <h2 class="toc-sidebar-title">Contents</h2>
    <ul>
      {% for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}" data-toc-id="{{ h1.id }}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li><a href="{{ h2.permalink | safe }}" data-toc-id="{{ h2.id }}">{{ h2.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
{% endif %}
