<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html" %}
</head>
<body class="smooth-scroll">
    <div class="site-container">
        {% include "partials/header.html" %}

        <main class="main-content">
            {% block content %}{% endblock content %}
        </main>

        {% include "partials/footer.html" %}
    </div>
    
    {% include "partials/search.html" %}
    
    <script src="{{ get_url(path="js/elasticlunr.min.js") }}"></script>
    <script src="{{ get_url(path="js/search.js") }}"></script>
    <script src="{{ get_url(path="js/theme.js") }}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
